.relation-parent {
    display: flex;
    align-items: center;

    width: 100%;
}

.relation-user {
    width: 15em;
}

/* RELATION STATUS */
.blocked,
.deny-pending,
.cancel-pending,
.denied,
.negative {
    color: red;
}

.canSend, 
.pending, 
.accept-pendin,
.accepted,
.positive {
    color: green;
}

.canSend,
.accept-pending,
.deny-pending,
.cancel-pending {
    cursor: pointer
}

.relation-status {
    display: flex;
    align-items: center;

    gap: 0.25em;
 
    font-size: 24px;
    height: 24px;
}

/* SEARCH */
#search-bar {
    display: flex;
    width: 100%;
    align-items: center;

    margin-bottom: 0.5em;
}

#search-btn {
    margin-left: 1.5em;
    cursor: pointer;
    font-size: 1.5em;
}