@{
    ViewBag.Title = "LoginsJournal";
}

<h2>Journal des connexions</h2>
<div id="EntriesListContainer"></div>

@section Scripts {
    <script defer>
        initTimeout(120);
        let onRefresh = function () {
            $('.entry-delete').click(function () {
                var date = $(this).data('date');

                bootbox.confirm({
                    message: "Êtes-vous sûr de vouloir supprimer cette entrée ?",
                    buttons: {
                        confirm: {
                            label: 'Oui',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Non',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {

                        if (result) {
                            $.ajax({
                                type: 'POST',
                                url: '/Entrer/SupprimerJour',
                                data: { date: date },

                            });
                        }
                    }
                });
            });
        };

        let entries = new PartialRefresh("@Url.Action("GetEntries")", "EntriesListContainer", 5, onRefresh);
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/Content/LoginJournalStyles.css" />
}