@{
    ViewBag.Title = "LoginsJournal";
}

<h2>Journal des connexions</h2>
<div id="EntriesListContainer"></div>

@section Scripts {
    <script defer>
        initTimeout(120);
        let entries = new PartialRefresh("@Url.Action("GetEntries")", "EntriesListContainer", 5);

        $(document).click(function () {

            $('.entry-delete').click(function () {
                var date = $(this).data('date');

                $.ajax({
                    type: 'POST',
                    url: '/Entrer/SupprimerJour',
                    data: { date: date },
                    success: () => {
                        entries.refresh(true);
                    }
                });
            });
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/Content/LoginJournalStyles.css"/>
}